@font-face {
	font-family: "Neue Haas Grotesk Display Pro";
	src: url("/fonts/NeueHaasDisplayRoman.ttf");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Parabole";
	src: url("/fonts/Parabole.ttf");
}

@font-face {
	font-family: "NeueHaasDisplayMediu";
	src: url("/fonts/NeueHaasDisplayMediu.ttf");
}

@font-face {
	font-family: "NeueHaasDisplayLight";
	src: url("/fonts/NeueHaasDisplayLight.ttf");
}

body {

  --font-neue-haas-grotesk-display-pro: "Neue Haas Grotesk Display Pro";
  --font-parabole: Parabole;

  --color-white: #fff;
  --color-black: #000;
  --color-sandybrown: #f39b4b;
  --color-antiquewhite: #fae6d5;
  --color-gray-100: #31281f;
  --color-gray-200: rgba(255, 255, 255, 0.1);

  --br-7xs: 6px;
  --br-5xs: 8px;
  margin: 0;
  font-family: 'Parabole', 'NeueHaasDisplayMediu', 'NeueHaasDisplayLight', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
